@import 'tailwindcss';

@theme {
	--spacing-x: 1rem;
	--spacing-xs: 0.8rem;
	--spacing-xxs: 0.6rem;
	--spacing-xxxs: 0.4rem;
	--spacing-xxxxs: 0.2rem;

	--color-light-grey: #f9f9f9;
	--color-grey: #f0f0f0;
	--color-dark-grey: #808080;
}

@layer base {
	h1 {
		@apply text-center text-2xl font-bold;
	}

	p {
		@apply text-sm text-dark-grey;
	}
}

@layer utilities {
	.btn-primary {
		@apply w-full cursor-pointer rounded bg-black p-xxxs text-white;
	}

	.btn-secondary {
		@apply w-full cursor-pointer rounded bg-grey p-xxxs text-black;
	}

	.input-primary {
		@apply w-full rounded-sm bg-grey px-xxxs py-xxxxs text-black;
	}

	.timer-text {
		@apply text-3xl font-bold text-red-600;
	}

	.body-title {
		@apply text-lg font-bold text-black;
	}

	.body {
		@apply text-lg text-black;
	}

	.message-hint {
		@apply text-center text-lg text-black italic;
	}

	.error {
		@apply my-xxxs rounded bg-red-100 px-xxs py-xxxs text-red-500;
	}
}
